<main class="main">
    <!-- Page Header -->
    <div class="page-header text-center" style="background-image: url('/assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
        </div>
    </div>

    <!-- Breadcrumb Navigation -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
            </ol>
        </div>
    </nav>

    <!-- Cart Content -->
    <div class="page-content">
        <div class="cart">
            <div class="container">
                <div class="row">
                    <!-- Cart Items -->
                    <div class="col-lg-9">
                        <table class="table table-cart table-mobile">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% cartList.forEach((x,i)=> { %>
                                 <tr id="row<%-i%>">
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <button class="btn cart-remove close mt-3 d-md-none" onclick="removeFromCart('<%- item.product_id._id %>', '<%- item.variant %>')"><i class="bi bi-x-lg text-danger"></i></button>
                                            <div class="d-flex align-items-center">
                                                <a href="/shop/product/<%- item.product_id._id %>"><img class="cart-item-img" src="/uploads/cropped/<%= item.product_id.productimages.image1 %>" alt="..."></a>
                                                <div class="cart-title text-start"><a class="text-uppercase text-dark" href="/shop/product/<%- item.product_id._id %>"><strong><%= item.product_id.product_name %></strong></a></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle">$<%= item.product_id.sellingPrice %></td>
                                    <td class="align-middle">
                                        <div class="d-flex flex-row">
                                            <button onclick="decreaseCartQuantity('<%- item.product_id._id %>')" class="btn btn-outline-dark btn-items btn-items-decrease col-3">-</button>
                                            <input id="quantityInput-<%- item.product_id._id %>" readonly min="1" name="quantity" class="form-control text-center border-0 border-md input-items" type="text" value="<%= item.quantity %>">
                                            <button onclick="increaseCartQuantity('<%- item.product_id._id %>' )" class="btn btn-outline-dark btn-items btn-items-increase col-3">+</button>
                                        </div>
                                    </td>
                                    <td class="align-middle" id="itemTotal-<%- item.product_id._id %>">$<%= item.price %></td>
                                    <td class="align-middle">
                                        <button onclick="removeFromCart('<%- item.product_id._id %>')" class="btn btn-light cart-remove">
                                            <i class="delete bi bi-x-lg text-danger"></i>
                                        </button>
                                    </td>
                                 </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                    <!-- Cart Summary -->
                    <aside class="col-lg-3">
                        <div class="summary summary-cart">
                            <h3 class="summary-title">Cart Total</h3>
                            <table class="table table-summary">
                                <tbody>
                                    <tr class="summary-subtotal">
                                        <td>Subtotal:</td>
                                        <td><span id="cartTotal">$<%= totalPrice %></span></td>
                                    </tr>
                                    <tr class="summary-shipping">
                                        <td>Shipping:</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <!-- Shipping Options -->
                                    <tr class="summary-shipping-row">
                                        <td>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="free-shipping" name="shipping" class="custom-control-input">
                                                <label class="custom-control-label" for="free-shipping">Free Shipping</label>
                                            </div>
                                        </td>
                                        <td>$0.00</td>
                                    </tr>
                                    <tr class="summary-shipping-row">
                                        <td>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="standart-shipping" name="shipping" class="custom-control-input">
                                                <label class="custom-control-label" for="standart-shipping">Standard:</label>
                                            </div>
                                        </td>
                                        <td>$10.00</td>
                                    </tr>
                                    <tr class="summary-shipping-row">
                                        <td>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="express-shipping" name="shipping" class="custom-control-input">
                                                <label class="custom-control-label" for="express-shipping">Express:</label>
                                            </div>
                                        </td>
                                        <td>$20.00</td>
                                    </tr>
                                    <tr class="summary-shipping-estimate">
                                        <td>Estimate for Your Country<br> <a href="/address">Change address</a></td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td><strong id="grandTotal" class="order-summary-total">$<%= totalPrice %></strong></td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="/checkout" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
                            <a href="/" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</main>
